body {
    font-family: "Times New Roman", sans-serif;
    background-color: rgb(197, 217, 246);
    color: rgb(66, 66, 66);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(197, 217, 246);
    margin-top: 40px;
    font-size: 2.5em;
    text-shadow: 1px 1px 3px rgba(13, 71, 161, 0.2);
}

.gallery {
    background: linear-gradient(rgb(1, 36, 46), rgb(5, 197, 250));
    margin-top: 100px;
    margin-bottom: 100px;
    border: 5px solid rgb(80, 115, 151);
    border-radius: 20px;
    width: 1200px;
    height: 500px;
    padding-bottom: 50px;
}

button {
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: 3px solid black;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

button.active {
    color: white;
    background-color: #0B5ED7;
}