body{
    color: black;
    background:radial-gradient(rgb(49, 49, 49),rgb(92, 92, 92));
    font-family: 'Times New Roman', Times, serif;
}
.Calculator{
    background-color: rgb(109, 108, 96);
    color: white;
    width:600px;
    padding-bottom: 100px;
    border-radius: 10px;
    border:solid;
    border-width: 3px;
    padding-bottom: 70px;
    
}
input{
    margin-top: 50px;
    background-color:whitesmoke;
    color:black;
    font-weight: bold;
    font-size: large;
    height:50px;
    width: 320px;
    border: 2px solid black;
    border-radius: 4px;
    font-family: 'Times New Roman';
}
.number{
    height:60px;
    width: 80px;
    border-radius: 30%;
    font-size: large;
}
.operator{
    height:60px;
    width: 80px;
    border-radius: 30%;
    font-size: large;
}
.clear{
    height:50px;
    width: 320px;
    border: 2px solid rgb(24, 24, 24);
    font-size: large;

}